<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light">
  <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="myNavbar">
    <div class="container-fluid">
      <div class="row">
        <!-- sidebar -->
        <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
          <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">
            All India Grievance <br>Redressal App
          </a>
          <div class="bottom-border pb-3">
            <p class="text-white text-center">Hello <%=name%> !</p>
          </div>
          <ul class="navbar-nav flex-column mt-4">
            <li class="nav-item">
              <a href="/dashboard" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-home text-light fa-lg mr-3"></i>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a href="/users/profile" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-user text-light fa-lg mr-3"></i>
                Profile
              </a>
            </li>
            <li class="nav-item">
              <a href="/users/analysis" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-chart-line text-light fa-lg mr-3"></i>
                Analytics
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white p-3 mb-2 current">
                <i class="fas fa-hand-paper text-light fa-lg mr-3"></i>
                Pending
              </a>
            </li>
            <li class="nav-item">
              <a href="/users/partiallysolved" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-hourglass-half text-light fa-lg mr-3"></i>
                Partially Solved
              </a>
            </li>
            <li class="nav-item">
              <a href="/users/redressed" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="far fa-check-circle text-light fa-lg mr-3"></i>
                Redressed
              </a>
            </li>
          </ul>
        </div>
        <!-- end of sidebar -->
        <!-- top-nav -->
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
          <div class="row align-items-center">
            <div class="col-md-4">
              <h4 class="text-light text-uppercase mb-0">
                <a href="/users/pending">
                  <i class="fas fa-sync mr-3 text-light"></i>
                </a>
              </h4>
            </div>
            <div class="col-md-5">
              <form autocomplete="off" action="/users/searchpending" method="POST">
                <div class="autocomplete input-group" style="width:350px;">
                  <input id="myInput" type="text" class="form-control search-input text-white" name="search" placeholder="Search by Complaint type or ID">
                <button type="submit" class="btn btn-white search-button"><i class="fas fa-search text-danger"></i></button>
              </div>
              </form>
            </div>
            <div class="col-md-3">
              <ul class="navbar-nav float-right">
                <a href="/users/logout">
                  <li class="nav-item ml-md-auto float-right">
                    <i class="fas fa-sign-out-alt text-danger fa-lg"></i>
                    <p class="float-right text-white">&nbsp LogOut</p>
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
        <!-- end of top-nav -->
      </div>
    </div>
  </div>
</nav>
<!-- end of navbar -->
<section>
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
        <div>
          <h1 class="align">Pending Complaints</h1>
          <% if((flag==true) && (array.length ==0)){ %>
            <form action="/users/pending" method="GET" id="formSort">
              <select name="order" id="">
                <option value="mr">Most Recent</option>
                <option value="ls">Least Recent</option>
              </select>
              <button type="submit" class="btn btn-primary btn-sm">Sort</button>
            </form>
          <% } %>
          <% if(array.length ==0){ %>
            <h3 class="text-center" style="padding-top: 10%;">No Complaints to Show</h3>
          <% } %>
        </div>
        <table class="table bg-light">
          <% for(var i=0;i < array.length;i++){ %>
            <tr>
              <td style="width: 100px; padding-top: 2%;">
                <img src=<%= array[i].url %> alt="" class="rounded-circle">
              </td>
              <td style="padding-left: 2%;">
                <%= array[i].user.email %> <br>
                <%= array[i].c_type %> , <%= array[i].c_subtype %><br>
                <%= array[i].lantitude %> , <%= array[i].longitude %>
                <p style="color: #17A2B8;"> <%= array[i].dateofcomplaint %> </p>
              </td>
              <td class="text-center align-middle">
                <a href="viewcomplaint/pending/<%=array[i].userId%>/<%=array[i].complaintId%>">
                  <button type="button" class="btn btn-dark btn-sm">View Complaint</button>
                </a>
              </td>
            </tr>
          <% } %>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">
    <p>
      &copy; 2019 Copyright. Made With <i class="fas fa-heart text-danger"></i> by 
      <span class="text-success">Viral, Daanyaal & Deval</span>
    </p>
  </div>
</footer>
<!-- end of footer -->