<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light">
  <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="myNavbar">
    <div class="container-fluid">
      <div class="row">
        <!-- sidebar -->
        <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
          <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">
            All India Grievance <br>Redressal App
          </a>
          <div class="bottom-border pb-3">
            <p class="text-white text-center">Hello, <%=adminName%> !</p>
          </div>
          <ul class="navbar-nav flex-column mt-4">
            <li class="nav-item">
              <a href="/dashboard" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-home text-light fa-lg mr-3"></i>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a href="/users/profile" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-user text-light fa-lg mr-3"></i>
                Profile
              </a>
            </li>
            <li class="nav-item">
              <a href="/users/analysis" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-chart-line text-light fa-lg mr-3"></i>
                Analytics
              </a>
            </li>
            <li class="nav-item">
              <a href="/users/pending" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-hand-paper text-light fa-lg mr-3"></i>
                Pending
              </a>
            </li>
            <li class="nav-item">
              <a href="/users/partiallysolved" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-hourglass-half text-light fa-lg mr-3"></i>
                Partially Solved
              </a>
            </li>
            <li class="nav-item">
              <a href="/users/redressed" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="far fa-check-circle text-light fa-lg mr-3"></i>
                Redressed
              </a>
            </li>
          </ul>
        </div>
        <!-- end of sidebar -->
        <!-- top-nav -->
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
          <div class="row align-items-center">
            <div class="col-md-4">
              <h4 class="text-light text-uppercase mb-0">
              </h4>
            </div>
            <div class="col-md-5">
              <h4 class="text-light text-uppercase text-center"><%=state%>-Admin</h4>
            </div>
            <div class="col-md-3">
              <ul class="navbar-nav float-right">
                <a href="/users/logout">
                  <li class="nav-item ml-md-auto float-right">
                    <i class="fas fa-sign-out-alt text-danger fa-lg"></i>
                    <p class="float-right text-white">&nbsp LogOut</p>
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
        <!-- end of top-nav -->
      </div>
    </div>
  </div>
</nav>
<!-- end of navbar -->
<section style="padding-top: 5%;">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
        <div class="row align-items-center">
          <div class="col-xl-6 col-12 mb-4 mb-xl-0" style="padding-left: 5%;">
            <h3>User Details</h3>
            <p><b>Name:</b>  <%= userName %></p> 
            <p><b>Email:</b> <%= userEmail %></p> 
            <p><b>Mobile:</b> <%= userMobile %></p>
            <% if(workerPresent){ %>
              <h3>Worker Details</h3>
              <p><b>Name:</b> <%= workerName %></p>
              <p><b>Email:</b> <%= workerEmail %></p>
              <p><b>Mobile:</b> <%= workerMobile %></p>
            <% } %>
            <h3>Complaint Details</h3>
            <p><b>Complaint Type:</b> <%= cmpType %></p> 
            <p><b>Complaint Sub-Type:</b> <%= cmpSubType %></p> 
            <p><b>Date of Complaint:</b> <%= cmpDate %></p> 
            <p><b>Complaint Description:</b> <%= cmpDescription %></p> 
            <p><b>Complaint Address:</b> <%= cmpArea %></p>
          </div>
          <div class="col-xl-6 col-12 text-center">
            <a href=<%= cmpImage %> target="_blank">
              <img src=<%= cmpImage %> alt="" class="rounded" style="width:40%; height: 40%;">
            </a>
            <% if(workerPresent){ %>
              <br><br><br>
              <a href=<%= cmpSolvedImg %> target="_blank">
                <img src=<%= cmpSolvedImg %> alt="" class="rounded" style="width:40%; height: 40%;">
              </a>
              <br><br><br>
            <% } %>
            <% if(cmpStatus == "Complaint Partially Solved"){ %>
              <a href="/./users/redressing/<%= userID %>/<%= cmpID %>/view">
                <button type="button" class="btn btn-dark" >Redress this Complaint</button>
              </a>
            <% }else if(cmpStatus == "Complaint Solved"){ %>
                <button type="button" class="btn btn-success" disabled>This Complaint is Solved</button>
            <%}%>
            <br><br><br>
            <a href="https://www.google.com/maps/place/<%= cmpLantitude %>,<%= cmpLongitude %>" target="_blank">
              <button type="button" class="btn btn-dark" >View Location in Maps</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  
<!-- Footer -->
<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">
    <p>
      &copy; 2019 Copyright. Made With <i class="fas fa-heart text-danger"></i> by 
      <span class="text-success">Viral, Daanyaal & Deval</span>
    </p>
  </div>
</footer>
<!-- end of footer -->